html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: url(https://media.discordapp.net/attachments/721958571536810059/1020335876078837830/74575.jpg) no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }
.box{
  border-radius: 15px;
  width: 450px;
  background: rgba(0, 0, 0, 0.712);
  padding: 45px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Candara',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 200ms;
}
.box li a:hover{
  color: #b9b9b9;
}
